html {
  color: black;
  font: 12px/30px Arial, Helvetica, sans-serif;
  background: white;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  user-select: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
p,
th,
td {
  margin: 0px;
  padding: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  font-size: 100%;
  font-weight: normal;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
textarea,
select,
date {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  *font-size: 100%;
  outline: none;
  border: 0;
}
textarea {
  resize: none;
}
button {
  cursor: pointer;
}
a {
  color: #0998d4;
  text-decoration: none;
}
a:active {
  color: #b44f06;
}
ul,
ol {
  list-style-type: none;
}
img {
  border: 0;
  vertical-align: middle;
}
i,
em {
  font-style: normal;
}
::selection {
  background: #26b58a;
  color: #fff;
}
::-moz-selection {
  background: #26b58a;
  color: #fff;
}
::-webkit-selection {
  background: #26b58a;
  color: #fff;
}
.df {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: flexbox;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
}
.backfacevisibility {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}
.perspective {
  perspective: 1000;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  -ms-perspective: 1000;
}
.bglg {
  background: linear-gradient(top, #ffcc00, #ff900d);
  background: -webkit-linear-gradient(top, #ffcc00, #ff900d);
  background: -moz-linear-gradient(top, #ffcc00, #ff900d);
  background: -ms-linear-gradient(top, #ffcc00, #ff900d);
  background: -o-linear-gradient(top, #ffcc00, #ff900d);
}
.bs {
  box-shadow: 0 5px 20px 1px #555555;
  -webkit-box-shadow: 0 5px 20px 1px #555555;
  -moz-box-shadow: 0 5px 20px 1px #555555;
  -o-box-shadow: 0 5px 20px 1px #555555;
  -ms-box-shadow: 0 5px 20px 1px #555555;
}
.bsno {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
}
.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}
.cf:after {
  clear: both;
}
.line {
  margin: 10px 0 5px 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #d5d5d5;
}
.lined {
  margin: 10px 0 5px 0;
  width: 100%;
  height: 1px;
  border-top: 1px dotted #d5d5d5;
}
.triangle {
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: dashed dashed dashed solid  ;
  border-color: transparent transparent #0677bc transparent ;
}
input[type=text] {
  display: inline-block;
  background-color: transparent;
}
.checkbox {
  width: 100%;
}
.checkbox input {
  display: block;
  visibility: hidden;
}
.checkbox input:checked + label i:before {
  vertical-align: super;
  content: '';
  display: inline-block;
  background: url(../img/ico.png) no-repeat transparent;
  background-size: 128px 128px;
  width: 10px;
  height: 8px;
  background-position: -2px -97px;
}
.checkbox label {
  color: white;
  display: block;
  margin-bottom: 10px;
}
.checkbox label:active i {
  background-color: rgba(0, 0, 0, 0.3);
}
.checkbox label i {
  display: inline-block;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  vertical-align: middle;
}
input[type=submit] {
  -webkit-appearance: none;
  -webkit-user-select: none;
  user-select: none;
  display: block;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  border: 1px solid white;
  text-shadow: 0 1px 0 white;
  background-color: white;
  text-align: center;
  cursor: pointer;
}
.mg10 {
  margin: 10px;
}
.mgt10 {
  margin-top: 10px;
}
.mgt20 {
  margin-top: 20px;
}
.mgt30 {
  margin-top: 30px;
}
.mgt50 {
  margin-top: 0px;
}
.mgt86 {
  margin-top: 86px;
}
.mgr5 {
  margin-right: 5px;
}
.mgr10 {
  margin-right: 10px;
}
.mgl10 {
  margin-left: 10px;
}
.pd5 {
  padding: 5px;
}
.pd10 {
  padding: 10px;
}
.pdt10 {
  padding-top: 10px;
}
.pdt50 {
  padding-top: 50px;
}
.pdt90 {
  padding-top: 90px;
}
.w {
  color: #ffffff;
}
.w50 {
  width: 50%;
}
.w82 {
  width: 82%;
}
.w100 {
  width: 100%;
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f15 {
  font-size: 15px;
}
.f18 {
  font-size: 18px;
}
.f24 {
  font-size: 24px;
}
.lh20 {
  line-height: 20px;
}
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
.db {
  display: block;
}
.dn {
  display: none !important;
}
.dib {
  display: inline-block;
}
.pos {
  position: relative;
}
.l {
  float: left;
}
.r {
  float: right;
}
.mg {
  margin-left: auto;
  margin-right: auto;
}
.ov {
  overflow: hidden;
}
.wbba {
  word-break: break-all;
}
.wmcs {
  -webkit-margin-collapse: separate;
}
.bxs {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.m {
  color: #0998d4;
}
.categoy1,
.categoy2,
.categoy3,
.categoy4,
.categoy5,
.categoy6,
.categoy7,
.categoy8,
.categoy9,
.check,
.firei,
.firei2,
.historyi,
.logo,
.more,
.more2,
.praise,
.rocket,
.searchico,
.backi,
.downi {
  display: inline-block;
  background: url(../img/ico.png) no-repeat transparent;
  background-size: 128px 128px;
}
.backi {
  width: 10px;
  height: 17px;
  background-position: -2px -78px;
}
.categoy1 {
  width: 26px;
  height: 20px;
  background-position: -79px -54px;
}
.categoy2 {
  width: 24px;
  height: 22px;
  background-position: -2px -54px;
}
.categoy3 {
  width: 26px;
  height: 23px;
  background-position: -77px -29px;
}
.categoy4 {
  width: 24px;
  height: 21px;
  background-position: -28px -54px;
}
.categoy5 {
  width: 23px;
  height: 23px;
  background-position: -82px -2px;
}
.categoy6 {
  width: 20px;
  height: 22px;
  background-position: -105px -29px;
}
.categoy7 {
  width: 23px;
  height: 23px;
  background-position: -27px -29px;
}
.categoy8 {
  width: 23px;
  height: 23px;
  background-position: -2px -29px;
}
.categoy9 {
  width: 23px;
  height: 20px;
  background-position: -54px -54px;
}
.check {
  width: 10px;
  height: 8px;
  background-position: -2px -97px;
}
.downi {
  width: 14px;
  height: 13px;
  background-position: -48px -78px;
}
.firei {
  width: 10px;
  height: 12px;
  background-position: -91px -78px;
}
.firei2 {
  width: 10px;
  height: 12px;
  background-position: -64px -78px;
}
.historyi {
  width: 23px;
  height: 23px;
  background-position: -52px -29px;
}
.logo {
  width: 78px;
  height: 25px;
  background-position: -2px -2px;
}
.more {
  width: 10px;
  height: 17px;
  background-position: -107px -54px;
}
.more2 {
  width: 15px;
  height: 15px;
  background-position: -14px -78px;
}
.praise {
  width: 14px;
  height: 12px;
  background-position: -76px -78px;
}
.rocket {
  width: 17px;
  height: 11px;
  background-position: -103px -78px;
}
.searchico {
  width: 15px;
  height: 15px;
  background-position: -31px -78px;
}
.test2 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  width: 230px;
  height: 230px;
  border-radius: 1000px;
  -webkit-animation: jb 0.8s infinite;
}
.test2 .test2 {
  width: 190px;
  height: 190px;
  padding: 20px;
  border-radius: 1000px;
  background-color: grey;
  -webkit-animation: jb2 1.6s infinite;
}
.test2 .test2 .test3 {
  width: 190px;
  height: 190px;
  border-radius: 1000px;
  background-color: grey;
  -webkit-animation: jb3 0.8s infinite;
}
@-webkit-keyframes jb {
  0% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
@-webkit-keyframes jb2 {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
@-webkit-keyframes jb3 {
  0% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
.loadbg {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: flexbox;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  flex-align: center;
  -webkit-flex-align: center;
  -moz-flex-align: center;
  -o-flex-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-box-pack: center;
  flex-pack: center;
  -webkit-flex-pack: center;
  -moz-flex-pack: center;
  -o-flex-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.loadbg .loading {
  height: 40px;
  width: 40px;
  border: 2px solid #0178e4;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  animation: load 2s infinite;
  -webkit-animation: load 2s infinite;
}
@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.amnshowl {
  -webkit-animation: showToLeft 0.3s ease;
  animation: showToLeft 0.3s ease;
}
@-webkit-keyframes showToLeft {
  from {
    -webkit-transform: translateX(200%);
  }
}
@keyframes showToLeft {
  from {
    transform: translateX(200%);
  }
}
.amnshowr {
  -webkit-animation: showToRight 0.3s ease;
  animation: showToRight 0.3s ease;
}
@-webkit-keyframes showToRight {
  from {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes showToRight {
  from {
    transform: translateX(-100%);
  }
}
.amnhidel {
  -webkit-animation: hideToLeft 0.3s ease;
  animation: hideToLeft 0.3s ease;
}
@-webkit-keyframes hideToLeft {
  to {
    -webkit-transform: translateX(200%);
  }
}
@keyframes hideToLeft {
  to {
    transform: translateX(200%);
  }
}
.amnhider {
  -webkit-animation: hideToRight 0.3s ease;
  animation: hideToRight 0.3s ease;
}
@-webkit-keyframes hideToRight {
  to {
    -webkit-transform: translateX(-100%);
  }
}
@keyframes hideToRight {
  to {
    transform: translateX(-100%);
  }
}
.default {
  background-color: #0998d4;
}
.default img {
  width: 100%;
}
.default .defaulttop {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.default .defaultbottom {
  position: relative;
  width: 100%;
  padding-top: 235px;
}
.default .defaultbottom .connect {
  position: absolute;
  bottom: 70px;
  width: 80%;
  margin-left: 10%;
  background-color: #0998d4;
  border-radius: 5px;
  font-size: 22px;
  line-height: 45px;
  color: white;
  text-align: center;
  box-shadow: 1px 2px 2px #833904;
}
.default .defaultbottom .connect:active {
  color: #833904;
  background-color: #f7700f;
  box-shadow: 0 1px 1px #833904;
}
.default .defaultbottom .disclaimer {
  position: absolute;
  bottom: 20px;
  color: white;
  text-align: center;
  font-size: 14px;
}
.default .defaultbottom .disclaimer a {
  color: #b44f06;
  text-decoration: underline;
}
.indextop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 86px;
  z-index: 1;
}
header {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: flexbox;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  flex-align: center;
  -webkit-flex-align: center;
  -moz-flex-align: center;
  -o-flex-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-box-pack: center;
  flex-pack: center;
  -webkit-flex-pack: center;
  -moz-flex-pack: center;
  -o-flex-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.9);
}
header div:first-child {
  width: 100px;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: flexbox;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  flex-align: center;
  -webkit-flex-align: center;
  -moz-flex-align: center;
  -o-flex-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-box-pack: center;
  flex-pack: center;
  -webkit-flex-pack: center;
  -moz-flex-pack: center;
  -o-flex-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
}
header div:first-child a {
  display: block;
}
header div.searchhead {
  display: inline-block;
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  position: relative;
  padding-left: 10px;
  border-radius: 15px;
  height: 30px;
  background-color: rgba(51, 51, 51, 0.9);
  text-indent: 20px;
  color: #aeaeae;
  font-size: 14px;
}
header div.searchhead input[type=text] {
  color: #aeaeae;
}
header div.searchhead:before {
  position: absolute;
  top: 7px;
  left: 7px;
  display: inline-block;
  background: url(../img/ico.png) no-repeat transparent;
  background-size: 128px 128px;
  content: "";
  width: 15px;
  height: 15px;
  background-position: -31px -78px;
}
header div.searchhead .searchico {
  vertical-align: text-top;
}
header div:last-child {
  width: 34px;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: flexbox;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  flex-align: center;
  -webkit-flex-align: center;
  -moz-flex-align: center;
  -o-flex-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-box-pack: center;
  flex-pack: center;
  -webkit-flex-pack: center;
  -moz-flex-pack: center;
  -o-flex-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
}
header div:last-child i {
  display: block;
}
.navigator_movie {
  position: relative;
  z-index: 1;
  height: 36px;
  background-color: white;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  box-shadow: 0 2px 2px #bbbbbb;
}
.navigator_movie span {
  display: block;
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  position: relative;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
}
.navigator_movie span.on {
  color: #0998d4;
}
.navigator_movie span.on:before {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -40%;
  display: block;
  content: "";
  width: 80%;
  height: 2px;
  background-color: #0998d4;
}
.home {
  margin-top: 86px;
  padding-bottom: 40px;
  background-color: #e1e1e1;
  overflow-y: auto;
}
.home .banner {
  position: relative;
}
.home .banner .hd {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.home .banner .hd span {
  margin: 0 3px;
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 5px;
  background-color: white;
}
.home .banner .hd span.on {
  background-color: #0998d4;
}
.home .banner .bd {
  margin: 5px;
}
.home .banner .bd img {
  border-radius: 5px;
  width: 100%;
}
.home .title {
  position: relative;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: flexbox;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  width: 100%;
  height: 36px;
  background-color: white;
  font-size: 18px;
  line-height: 36px;
  color: #0998d4;
  text-indent: 15px;
}
.home .title:before {
  position: absolute;
  top: 6px;
  left: 6px;
  content: "";
  width: 24px;
  height: 24px;
  background-color: #0998d4;
}
.home .title:after {
  position: absolute;
  top: 6px;
  left: 30px;
  content: "";
  width: 0;
  height: 0;
  border-width: 12px;
  border-style: dashed dashed dashed solid  ;
  border-color: transparent transparent transparent #0998d4;
}
.home .title div:first-child {
  width: 30px;
}
.home .title div:last-child {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: flexbox;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  flex-align: center;
  -webkit-flex-align: center;
  -moz-flex-align: center;
  -o-flex-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-box-pack: center;
  flex-pack: center;
  -webkit-flex-pack: center;
  -moz-flex-pack: center;
  -o-flex-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  width: 30px;
}
.home .title div:nth-child(2) {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
}
.home .title div i {
  position: relative;
}
.home .recommend {
  width: 100%;
}
.home .recommend .content {
  overflow: hidden;
  padding-right: 5px;
}
.home .recommend .content .box {
  float: left;
  width: 49.9%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px 0 5px 5px;
}
.home .recommend .content .box.three {
  width: 33.33%;
  padding: 5px 0 5px 6px;
}
.home .recommend .content .box .boxshadow {
  box-shadow: 0 1px 2px #d5d5d5;
}
.home .recommend .content .box .img {
  position: relative;
}
.home .recommend .content .box .img img {
     width: 100%;
     height:auto;
}
.home .recommend .content .box .img .blackbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../pic/0.png) bottom right no-repeat;
}
.home .recommend .content .box .img .blackbg span {
  position: absolute;
  bottom: 0;
  right: 5px;
  color: white;
  line-height: 20px;
}
.home .recommend .content .box .text {
  background-color: white;
  text-indent: 5px;
}
.home .seemore {
  width: 100%;
  height: 36px;
  background-color: white;
  font-size: 18px;
  line-height: 36px;
  color: #0998d4;
  text-indent: 15px;
  text-align: center;
}
.home .appre {
  background-color: white;
  margin: 5px;
  padding: 0 10px;
}
.home .appre .content {
  width: 100%;
  overflow: hidden;
  padding-top: 10px;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}
.home .appre .content li {
  float: left;
  width: 25%;
  text-align: center;
}
.home .appre .content li img {
  width: 80%;
}
.home .appre .content li span {
  line-height: 24px;
}
.hot {
  margin-top: 86px;
  padding-bottom: 40px;
  background-color: #e1e1e1;
  overflow-y: auto;
}
.hot .top {
  padding: 5px;
}
.hot .top .box {
  margin-bottom: 5px;
  position: relative;
}
.hot .top .box:last-child {
  margin-bottom: 0;
}
.hot .top .box img {
  width: 100%;
  height: auto;
}
.hot .top .box:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 40px solid #D01B1B;
  border-right: 40px solid transparent;
}
.hot .top .box:after {
  content: "1";
  position: absolute;
  top: 0;
  left: 5px;
  color: white;
  font-style: italic;
  font-size: 18px;
}
.hot .top .box:nth-child(2):before {
  border-top-color: #f8bc1c;
}
.hot .top .box:nth-child(2):after {
  content: "2";
}
.hot .top .box:nth-child(3):before {
  border-top-color: #4a90e2;
}
.hot .top .box:nth-child(3):after {
  content: "3";
}
.hot .top .box .text {
  position: absolute;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: flexbox;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hot .top .box .text span {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hot .content {
  overflow: hidden;
  padding-right: 5px;
}
.hot .content .box {
  float: left;
  width: 33.33%;
  padding: 5px 0 5px 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.hot .content .box .boxshadow {
  box-shadow: 0 1px 2px #d5d5d5;
}
.hot .content .box .img {
  position: relative;
}
.hot .content .box .img img {
    width: 100%;
    height: auto;
}
.hot .content .box .img .blackbg {
  /*position: absolute;*/
  top: 0;
  left: 0;
    width: auto;
    height: auto;
  background: url(../pic/0.png) bottom right no-repeat;
}
.hot .content .box .img .blackbg span {
    /*position: absolute;*/
  bottom: 0;
  right: 5px;
  color: white;
  line-height: 20px;
}
.hot .content .box .img .fire {
  position: absolute;
  top: 12px;
  right: 5px;
  width: 30px;
  text-align: center;
  color: #0998d4;
}
.hot .content .box .text {
  background-color: white;
  text-indent: 5px;
}
.categoy {
  margin-top: 86px;
  padding: 4px 4px 44px 4px;
  background-color: #e1e1e1;
  overflow-y: auto;
}
.categoy table {
  width: 100%;
}
.categoy table tr td {
  width: 33.3333%;
  height: 120px;
  background-color: white;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #e1e1e1;
  text-align: center;
}
.categoy table tr td i {
  vertical-align: bottom;
}
.categoy table tr td span {
  text-transform: uppercase;
}
.float {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 0px 0px 0px 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.float .img {
  padding-right: 5px;
  width: 30px;
  height: 30px;
}
.float .img img {
  width: 100%;
  height: 100%;
}
.float .info {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
}
.float .info h1 {
  color: #0998d4;
}
.float .info p {
  color: white;
  line-height: 16px;
}
.float .down {
  background-color: #0998d4;
  color: white;
  border-radius: 15px;
  height: 30px;
  padding: 0 15px;
  font-size: 14px;
}
.float .down:active {
  background-color: #e66407;
}
.back {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: flexbox;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  flex-align: center;
  -webkit-flex-align: center;
  -moz-flex-align: center;
  -o-flex-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-box-pack: center;
  flex-pack: center;
  -webkit-flex-pack: center;
  -moz-flex-pack: center;
  -o-flex-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.9);
}
.back div {
  color: #A3A3A3;
  font-size: 16px;
}
.back div:first-child,
.back div:last-child {
  width: 30px;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: flexbox;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  flex-align: center;
  -webkit-flex-align: center;
  -moz-flex-align: center;
  -o-flex-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-box-pack: center;
  flex-pack: center;
  -webkit-flex-pack: center;
  -moz-flex-pack: center;
  -o-flex-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
}
.back div:first-child a,
.back div:last-child a,
.back div:first-child i,
.back div:last-child i {
  display: block;
}
.back div:nth-child(2) {
  text-align: center;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: flexbox;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  box-align: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  flex-align: center;
  -webkit-flex-align: center;
  -moz-flex-align: center;
  -o-flex-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -o-align-items: center;
  -ms-align-items: center;
  box-pack: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-box-pack: center;
  flex-pack: center;
  -webkit-flex-pack: center;
  -moz-flex-pack: center;
  -o-flex-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -o-justify-content: center;
  -ms-justify-content: center;
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
}
.play {
  background-color: #e1e1e1;
  padding-bottom: 40px;
  overflow-y: auto;
}
.play .video {
  position: relative;
}
.play .video:last-child {
  margin-bottom: 0;
}
.play .video img {
  width: 100%;
  height: auto;
}
.play .video .text {
  position: absolute;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: flexbox;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.play .video .text span {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.play .video .trigger {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.play .video .playbtn {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -43px;
  margin-left: -28px;
  padding: 16px 0;
  width: 56px;
  height: 24px;
  border-radius: 60px;
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid white;
  text-align: center;
  cursor: pointer;
}
.play .video .playbtn.start:before {
  display: inline-block;
  position: absolute;
  left: 50%;
  margin-left: -7px;
  content: '';
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 20px solid white;
  border-bottom: 12px solid transparent;
}
.play .video .playbtn.stop:before,
.play .video .playbtn.stop:after {
  content: '';
  display: inline-block;
  width: 5px;
  height: 24px;
  margin: 0 3px;
  background-color: white;
}
.play .video .countdown {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.play .open {
  text-align: center;
  background-color: #0998d4;
  color: white;
}
.play .navigator_subnav {
  /*position: relative;*/
  z-index: 1;
  height: 36px;
  background-color: white;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  box-shadow: 0 2px 2px #bbbbbb;
}
.play .navigator_subnav span {
  display: block;
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  position: relative;
  line-height: 36px;
  text-align: center;
  font-size: 15px;
}
.play .navigator_subnav span.on {
  color: #0998d4;
}
.play .navigator_subnav span.on:before {
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -40%;
  display: block;
  content: "";
  width: 80%;
  height: 2px;
  background-color: #0998d4;
}
.play .recommend {
  overflow: hidden;
  padding-right: 5px;
  padding-bottom: 40px;
}
.play .recommend .box {
  float: left;
  width: 33.33%;
  padding: 5px 0 5px 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.play .recommend .box .boxshadow {
  box-shadow: 0 1px 2px #d5d5d5;
}
.play .recommend .box .img {
  position: relative;
}
.play .recommend .box .img img {
  width: 100%;
  height:auto;
}
.play .recommend .box .img .blackbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../pic/0.png) bottom right no-repeat;
}
.play .recommend .box .img .blackbg span {
  position: absolute;
  bottom: 0;
  right: 5px;
  color: white;
  line-height: 20px;
}
.play .recommend .box .img .fire {
  position: absolute;
  top: 12px;
  right: 5px;
  width: 30px;
  text-align: center;
  color: #0998d4;
}
.play .recommend .box .text {
  background-color: white;
  text-indent: 5px;
}
.play .overview {
  background-color: white;
  padding: 5px 10px;
}
.play .overview p {
  line-height: 24px;
}
.play .overview .text {
  margin-top: 10px;
}
.history {
  margin-top: 50px;
  padding: 5px 5px 45px 5px;
  background-color: white;
  overflow-y: auto;
}
.history .box {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: flexbox;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #d5d5d5;
}
.history .box:last-child {
  border-bottom: 0;
}
.history .box .img {
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  position: relative;
}
.history .box .img img {
  width: 100%;
}
.history .box .img .blackbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../pic/0.png) bottom right no-repeat;
}
.history .box .img .blackbg span {
  position: absolute;
  bottom: 0;
  right: 5px;
  color: white;
  line-height: 20px;
}
.history .box .content {
  margin-left: 10px;
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  line-height: 20px;
}
.search {
  margin-top: 50px;
  padding: 5px 5px 45px 5px;
  background-color: #e1e1e1;
  overflow-y: auto;
}
.search .box {
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: flexbox;
  display: -webkit-flexbox;
  display: -moz-flexbox;
  display: -o-flexbox;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
}
.search .box:last-child {
  margin-bottom: 0;
}
.search .box .img {
  width: 100px;
  height: 148px;
  position: relative;
}
.search .box .img img {
  width: 100%;
  height: 100%;
}
.search .box .img .blackbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../pic/0.png) bottom right no-repeat;
}
.search .box .img .blackbg span {
  position: absolute;
  bottom: 0;
  right: 5px;
  color: white;
  line-height: 20px;
}
.search .box .content {
  margin-left: 10px;
  flex: 1;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  box-flex: 1;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  line-height: 20px;
}
.search .box .content h1 {
  font-size: 15px;
}
.search .box .content p {
  color: #a2a2a2;
}
.search .box .content span {
  display: block;
  margin-top: 5px;
}
.search .box .content span i {
  margin-right: 5px;
  vertical-align: text-top;
}
.list {
  overflow: hidden;
  margin-top: 50px;
  padding-right: 5px;
  padding-bottom: 40px;
}
.list .box {
  float: left;
  width: 33.33%;
  padding: 5px 0 5px 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.list .box .boxshadow {
  box-shadow: 0 1px 2px #d5d5d5;
}
.list .box .img {
  position: relative;
}
.list .box .img img {
  width: 100%;
}
/*.list .box .img:before {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
}
.list .box .img:after {
  content: '';
  position: absolute;
  top: 8px;
  right: 15px;
  display: inline-block;
  background: url(../img/ico.png) no-repeat transparent;
  background-size: 128px 128px;
  width: 10px;
  height: 12px;
  background-position: -91px -78px;
}*/
.list .box .img .blackbg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../pic/0.png) bottom right no-repeat;
}
.list .box .img .blackbg span {
  position: absolute;
  bottom: 0;
  right: 5px;
  color: white;
  line-height: 20px;
}
.list .box .img .fire {
  position: absolute;
  top: 12px;
  right: 5px;
  width: 30px;
  text-align: center;
  color: #0998d4;
}
.list .box .text {
  background-color: white;
  text-indent: 5px;
}
