/*主页的样式修改*/
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
p,img{
    margin:0;
    padding:0;
}
#content
{
    padding:30px 13px 130px 13px;
    background:url(../img/home/bg.jpg);
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;
}
.slider{padding:0;}
.slider{
    height:218px;
}
.slider img{
    height:100%;
}
.flexslider{margin:0;  }
.i-pane.i-blue {  background-color: #Ffffff;  }
/*********** ICONS */


.rowNav{
    display: inline-block;
    vertical-align: top;
}

.i-pane.i-green { background-color:#587eac; display: none;}
.iconImg{
    height:27px;
}
.rowNav div{
    font-family: "Microsoft YaHei", SimHei, helvetica, arial, verdana, tahoma, sans-serif;
    color: #Ffffff ;
    border:1px solid #878787;
    background-color: #Ffffff;
}
.rowNav div span{
    position: relative;
    top:-10px;
    display: inline-block;
}
.rowNav li:first-child div{
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-color: rgba(255, 0, 0, 0);
}
.rowNav li:last-child div{
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-top-color: rgba(255, 0, 0, 0);
}
.application div{
    border-radius:15%;
    vertical-align:top;
}
.i-pane P{
    margin:0;
    padding:0;
    line-height: 1.4;
}
.rowNav{
    display: inline-block;
    vertical-align: top;
}
.menu_up,.menu_down{
     width:100%;
}
@media (max-width: 340px) {

    .i-pane  {
        width:100%;
        position:relative;
        float: left;
        border-radius: 15%;
        text-align: center;
        font-family: "Microsoft YaHei", SimHei, helvetica, arial, verdana, tahoma, sans-serif;
        color: #Ffffff ;
        padding:3px 10px;
        border:1px solid #878787;
    }
    .rowNav{
        width:24%;
    }
    .mainIconPane{
        width:20%;
    }
    .rowNav li{
        width:100%;
    }
    .rowNav div{
        width:100%;
        padding:6px 7px;
    }
}
@media (min-width: 341px) {
    .i-pane  {
        width:73px;
        height:65px;
        position:relative;
        float: left;
        border-radius: 15%;
        text-align: center;
        font-family: "Microsoft YaHei", SimHei, helvetica, arial, verdana, tahoma, sans-serif;
        color: #Ffffff ;
        padding:10px 20px;
        border:1px solid #878787;
    }
    .rowNav div {
        width: 73px;
        height: 45px;
        padding:10px 5px;
    }
}