ul{
    list-style: none;
}
a{
    text-decoration: none;
}

#content
{
    padding:25px 15px;
    background:url(../img/home/bg_home.png);
    background-size:cover;
    overflow: hidden;
}
.bannerPane{ text-align:center;}
.bannerPane img {}
.slider{margin: 0!important;padding:0;}
.flexslider{margin:0;  }
.i-pane.i-blue {  background-color: #Ffffff;  }
/*********** ICONS */
.i-pane  {
    width:73px;
    height:65px;
    position:relative;
    float: left;
    border-radius: 15%;
    text-align: center;
    font-family: "Microsoft YaHei", SimHei, helvetica, arial, verdana, tahoma, sans-serif;
    color: #Ffffff ;
    padding:10px 20px;
    border:1px solid #878787;
}

.rowNav{
    display: inline-block;
    vertical-align: top;
}

.i-pane.i-blue {  background-color: #Ffffff;  }
.i-pane.i-green { background-color:#587eac; display: none;}
.i-pane.i-orange { background-color:#e0af50; }
.i-pane.i-red { background-color:#ff7a73; }
.iconImg{
    height:27px;
}
.rowNav div{
    width:73px;
    height:45px;
    font-family: "Microsoft YaHei", SimHei, helvetica, arial, verdana, tahoma, sans-serif;
    color: #Ffffff ;
    padding:10px 5px;
    border:1px solid #878787;
    background-color: #Ffffff;
}
.rowNav div span{
    position: relative;
    top:-10px;
    display: inline-block;
}
.rowNav li:first-child div{
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-color: rgba(255, 0, 0, 0);
}
.rowNav li:last-child div{
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-top-color: rgba(255, 0, 0, 0);
}
.application div{
    border-radius:15%;
    vertical-align:top;
}